* text=auto !eol
ant/build.xml -text
ant/debug.properties -text
ant/default.properties -text
ant/global.properties -text
ant/integrate.xml -text
ant/linux-debug.properties -text
ant/linux.properties -text
ant/mac-debug.properties -text
ant/mac.properties -text
ant/release.properties -text
ant/windows-amd64.properties -text
ant/windows-debug.properties -text
ant/windows-release.properties -text
ant/windows-x86.properties -text
ant/windows.properties -text
idea/sqlite4java.iml -text
idea/sqlite4java.ipr -text
java/com/almworks/sqlite4java/DirectBuffer.java -text
java/com/almworks/sqlite4java/ProgressHandler.java -text
java/com/almworks/sqlite4java/SQLParts.java -text
java/com/almworks/sqlite4java/SQLiteBlob.java -text
java/com/almworks/sqlite4java/SQLiteBusyException.java -text
java/com/almworks/sqlite4java/SQLiteCancelledException.java -text
java/com/almworks/sqlite4java/SQLiteConnection.java -text
java/com/almworks/sqlite4java/SQLiteController.java -text
java/com/almworks/sqlite4java/SQLiteException.java -text
java/com/almworks/sqlite4java/SQLiteStatement.java -text
java/com/almworks/sqlite4java/SQLiteUserException.java -text
java/com/almworks/sqlite4java/SWIGTYPE_p_direct_buffer.java -text
lib/javolution.jar -text
lib/junit.jar -text
native/sqlite3_manual.h -text
native/sqlite3_wrap_manual.c -text
sqlite/sqlite3.c -text
sqlite/sqlite3.h -text
sqlite/sqlite3ext.h -text
swig/sqlite.i -text
swig/sqlite3_swigged.h -text
swig/stub/com/almworks/sqlite4java/SWIGTYPE_p_sqlite3.java -text
swig/stub/com/almworks/sqlite4java/SWIGTYPE_p_sqlite3_blob.java -text
swig/stub/com/almworks/sqlite4java/SWIGTYPE_p_sqlite3_stmt.java -text
swig/stub/com/almworks/sqlite4java/_SQLiteSwigged.java -text
swig/stub/com/almworks/sqlite4java/_SQLiteSwiggedJNI.java -text
test/com/almworks/sqlite4java/BlobComparisonPerformance.java -text
test/com/almworks/sqlite4java/BlobTests.java -text
test/com/almworks/sqlite4java/DirectBufferTests.java -text
test/com/almworks/sqlite4java/IncrementalBlobIOAnalysis.java -text
test/com/almworks/sqlite4java/IncrementalIODemo.java -text
test/com/almworks/sqlite4java/MiscTests.java -text
test/com/almworks/sqlite4java/ProgressHandlerTests.java -text
test/com/almworks/sqlite4java/SQLPartsTests.java -text
test/com/almworks/sqlite4java/SQLiteBasicTests.java -text
test/com/almworks/sqlite4java/SQLiteConnectionFixture.java -text
test/com/almworks/sqlite4java/SQLiteConnectionTests.java -text
test/com/almworks/sqlite4java/SQLiteTestFixture.java -text
test/com/almworks/sqlite4java/Test.java -text
