* text=auto !eol
ant/build.xml -text
ant/debug.properties -text
ant/default.properties -text
ant/global.properties -text
ant/integrate.xml -text
ant/linux-debug.properties -text
ant/linux.properties -text
ant/mac-debug.properties -text
ant/mac.properties -text
ant/release.properties -text
ant/windows-debug.properties -text
ant/windows-release.properties -text
ant/windows.properties -text
idea/sqlite4java.iml -text
idea/sqlite4java.ipr -text
java/sqlite/DirectBuffer.java -text
java/sqlite/SQLParts.java -text
java/sqlite/SQLiteBlob.java -text
java/sqlite/SQLiteBusyException.java -text
java/sqlite/SQLiteConnection.java -text
java/sqlite/SQLiteController.java -text
java/sqlite/SQLiteException.java -text
java/sqlite/SQLiteStatement.java -text
java/sqlite/SWIGTYPE_p_direct_buffer.java -text
lib/javolution.jar -text
lib/junit.jar -text
native/sqlite3_manual.h -text
native/sqlite3_wrap_manual.c -text
sqlite/sqlite3.c -text
sqlite/sqlite3.h -text
sqlite/sqlite3ext.h -text
swig/sqlite.i -text
swig/sqlite3_swigged.h -text
swig/stub/sqlite/SWIGTYPE_p_sqlite3.java -text
swig/stub/sqlite/SWIGTYPE_p_sqlite3_blob.java -text
swig/stub/sqlite/SWIGTYPE_p_sqlite3_stmt.java -text
swig/stub/sqlite/_SQLiteSwigged.java -text
swig/stub/sqlite/_SQLiteSwiggedJNI.java -text
test/sqlite/BlobComparisonPerformance.java -text
test/sqlite/BlobTests.java -text
test/sqlite/DirectBufferTests.java -text
test/sqlite/IncrementalIODemo.java -text
test/sqlite/MiscTests.java -text
test/sqlite/SQLPartsTests.java -text
test/sqlite/SQLiteBasicTests.java -text
test/sqlite/SQLiteConnectionFixture.java -text
test/sqlite/SQLiteConnectionTests.java -text
test/sqlite/SQLiteTestFixture.java -text
test/sqlite/Test.java -text
